.center{
	text-align: center;
}
h1{
	font-size: 40px;
	text-transform: uppercase;
}

h2{
	font-size: 33px;
    font-weight: 500;
}
img{
	height:200px;display:inline;
	text-align: center;
	margin: 0 auto;
}

body { color: black; }